*
{
    margin:0;
    padding:0;
}
html {
    height: 100%;
}
body
{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* A PARTIR DE ACA SE TRABAJA EL HEADER */

header
{
    width: 100%;
    height: 100%;
}

#imgHeader
{
    height: auto;
    width: 100%;
    object-fit:cover;
}
@media screen and (max-width:576px) 
{

#imgHeader
{
    width: 250%;    
    float: right;
}

}
@media screen and (min-width: 576px)
{
#imgHeader
{
transition: width 1s;
float: right;
}
#imgHeader:hover
{
    width: 150%;
    float: right;
    transition: width 2s;
}
}


/* A PARTIR DE ACA SE TRABAJA EL INDEX */

/* PARA MOVIL FLEXBOX */
@media screen and (max-width:576px)
{
#distribucion
{
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
    background-color: red;
}
#ImgLogo
{
    display: none;
}
}

/* PARA ESCRITORIO GRID BOOTS */
@media screen and (min-width:576px)
{
#distribucion
{
    
    max-width: 90%;
    height: AUTO;
    margin-bottom: 50px;
    
}


#ImgLogo
{
    margin: 10px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    object-position: center;
    opacity: 40%;
    transition: 6s;
}

#ImgLogo:hover
{
    width: 200px;
    height: 200px;
    opacity: 100%;
    margin: 40px;
    transition: width 1s, height 1s, transform 1s, opacity 3s;
}
#novedades p
{
    text-align: center;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container
{
    text-align: center;
}
#imagenesmain
{
    height: 250px;
    width: 350px;
    transition: 2s;
}
#imagenesmain:hover
{
    height: 260px;
    width: 360px;
    transition: 2s;
}
}



/* A PARTIR DE ACA SE TRABAJA GALERIA */

#galeriadelrojo
{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 20px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;
    text-align: center;
}
@media screen and (max-width:576px)
{

#galeriadelrojo
{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

}
#divcon
{
    max-width: 90%;
    height: AUTO;
    margin-bottom: 50px;
}

#estadio
{
    margin: 20px;
}
#plantel
{
    margin: 20px;
}

#textogaleria
{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* hasta aqui */

footer p
{
    color: white;
    background-color: darkred;
    margin-bottom: 0;
}
footer
{
    width: 100%;
    max-height: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: auto;
}
