@import "mixin";

@media screen and (max-width:576px)
{    
    .MainTit
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 10px;

        #disciplinas
        {
            display: flex;
            padding-left: 10px;
            padding-top: 10px;
            @include estilos_titulos ("titulo", Verdana)
            font-size: calc(6vw);
            width: 100%;
            align-items: center;
            justify-content: center; 

        }
        #MainTit--importantes
            {
                display: flex;
                width: 90%;
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center; 
            }
            h2
            {
                @include estilos_titulos ("subtitulo", Tahoma)
                font-size: calc(5vw);
            }
            img
            {
                margin: 10px;
                width: 60VW;
                height: AUTO;
            }
    }
}



@media screen and (min-width:576px)
{ 

.MainTit
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: space-around;
    padding: 25px;
    #disciplinas
        {
            display: flex;
            padding-left: 25px;
            padding-top: 25px;
            color: $color-principal;
            font-size: calc(4vw);
            font-weight: bold;
            width: 100%;
            align-items: center;
            justify-content: left; 
        }
    #MainTit--importantes
        {
            display: flex;
            width: 45%;
            flex-direction: column;
            align-content: center;
        }
    h2
        {
            color: $color-principal;
            font-size: calc(3vw);
        }
    }
}